#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-area {
  position: fixed;
  top: 38%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  padding-right: 5%;
}

.card {
  padding: 2em;
}